body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.calculator {
    width: 300px;
    background-color: #ff00c3;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    border: none;
    background-color: #ff8000;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 1.5em;
    padding: 20px;
    border: none;
    background-color: #f2ff00;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #95ff00;
}

button:active {
    background-color: #11ff00;
}
